<nav class="navbar navbar-light bg-inverse navbar-inverse navbar-toggleable-sm fixed-top">
  <div class="container">
    <a class="navbar-brand" id="siteName">GMasterGreatee's Blog</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">Data-Item 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Data-Item 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Data-Item 3</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Router-Link here -->

<div class="mt-5">
  <!-- Footer Overlay Seperator -->
</div>

<div class="text-white fixed-bottom p-2">
  <div class="pull-left">
    Copyright&copy; 2017 Rajarshi Vaidya aka <a style="color: orange;" href="https://github.io/gmastergreatee" target="_blank">gmastergreatee</a>
  </div>
  <a href="https://github.com/gmastergreatee/WebSite/development" target="_blank" class="pull-right" style="color: orange;">
    Source Code
  </a>
</div>