<nav class="navbar navbar-light bg-inverse navbar-inverse navbar-toggleable-sm fixed-top" #header>
  <div class="container">
    <a class="navbar-brand" id="siteName">GMasterGreatee's Blog</a>
    <ul class="navbar-nav">
      <li *ngFor="let item of rootList" class="nav-item">
        <a class="nav-link" [routerLink]="" routerLinkActive="active">{{item.Caption}}</a>
      </li>
    </ul>
  </div>
</nav>
<div style="margin-bottom:56px;">
  <!-- Header Overlay Seperator -->
</div>

<!-- Router-Outlet here -->
<router-outlet></router-outlet>

<div class="mt-5">
  <!-- Footer Overlay Seperator -->
</div>

<div class="text-white fixed-bottom p-2">
  <div class="pull-left">
    Copyright&copy; {{year}} Rajarshi Vaidya aka
    <a style="color: orange;" href="https://github.io/gmastergreatee" target="_blank">gmastergreatee</a>
  </div>
  <a href="https://github.com/gmastergreatee/WebSite/development" target="_blank" class="pull-right" style="color: orange;">
    Source Code
  </a>
</div>